<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UNES - Quem Somos</title>
    <link rel="stylesheet" href="./quemsomos.css">
</head>

<body>
    <img src="./imagens/logo.png" alt="logo" style="margin: 17px 350px;">
    <div class="links">
        <a href="./home.html">Home |</a>
        <a href="./quemsomos.html">Quem Somos |</a>
        <a href="./contato.html">Contato</a>
    </div>

    <style>
        body {
            background-image: url(./imagens/fundo2.png);
        }
    </style>

    <h1>Quem somos
    </h1>

    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
        Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
        of Lorem Ipsum.</p>

    <h2>5 motivos para estudar</h2>
    <p class="lista">

        1.Material sempre atualizado <br>
        2.Tablets em sala de aula <br>
        3.Professores renomados <br>
        4.Universidade bem avaliada <br>
        5.Ótima localização <br>

    </p>
    
    <br>
    
    <hr>
    
    <h2>Objetivos</h2>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

    <h4>Todos os direitos reservados ®</h4>
</body>

</html>