.capa {
    margin: 1px 350px;
}

.links{
    position: absolute;
    top: 30px;
    left: 1200px;
    font-size: 16px;
    
}


h1 {
    margin: 23px 350px;
    font-size: 24px;
}

p {
    margin: 10px 350px;

}

h4{
    text-align: center;
}